.header {
    width: 90%;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    background-color: #409EFF;
}

.header button {
    width: 50px;
    color: white;
    cursor: pointer;
    margin-left: 5px;
    border: none;
    padding: 5px 5px;
    background-color: #F56C6C;

}

.header input {
    width: 120px;
    height: 35px;
    border-radius: 8px;
    background-color: rgb(255, 193, 7);
}

#app table {
    width: 90%;
    height: auto;
    border: none;
    border: 1px solid rgb(242, 244, 245);
    margin: 0 auto;

}

#app table tr {
    height: 35px;
    border: none;
    text-align: center;
    border: 1px solid rgb(242, 244, 245);
}

#app table th {
    height: 35px;
    border: none;
    border: 1px solid rgb(242, 244, 245);
}

.tab {
    width: 700px;
    height: 400px;
    text-align: center;
}

.tab tr {
    width: 400px;
    height: auto;
}

.tab input {
    width: 500px;
    height: 30px;
    color: gray;
    text-indent: 1em;
    margin-left: -50px;
    border: 1px solid rgb(242, 244, 245);

}

.tab textarea {
    width: 500px;
    height: 60px;
    text-indent: 1em;
    margin-top: 3px;
    margin-left: -50px;
    line-height: 60px;
}

.tab button {
    width: 70%;
    height: 28px;
    color: white;
    border-radius: 7px;
    background-color: rgb(0, 123, 255);
}

.tabs {
    text-align: center;
    line-height: 60px;
}

.tabs button {
    border: 1px solid white;
    background-color: white;
    color: rgb(37, 158, 255);
    cursor: pointer;
}


.tabs button:hover {
    color: #F56C6C;
}