<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/index.css">
  <link rel="icon" href="//cdn.staticaly.com/gh/mystaticcode/showImg@main/api/showImg/202301010359891.png">
  <link rel="stylesheet" href="./css/alert.css">
  <script src="//cdn.staticaly.com/gh/mystaticcode/showImg@main/api/showImg/vue.min.js"></script>
  <script src="./js/download.js"></script>
  <title>蚂蚁笔记数据备份</title>
</head>


<style>
  .default {
    background-color: darkgoldenrod !important;
  }

  .status {
    color: #f56c6c !important;
  }
</style>

<body>
  <div id="app">
    <div class="header">
      <button @click="getBackup(year_list.year)" v-for="(year_list,index) in year_list"
        :class="{ default: isClick === year_list.year }">{{year_list.year}}</button>
    </div>

    <!-- 信息弹窗 -->
    <div class="ground" id="Ground" v-show="isAlert">
      <div class="title_text">{{alertTip}}</div>
      <hr>
      <div class="content">{{errorText}}</div>
      <hr>
      <div class="close_alert">
        <input type="button" value="确认下载" v-show="showDownload" @click="startDownload()">
        <button @click="closeAlert()">关闭弹窗</button>
      </div>
    </div>

    <template v-if="type===1">
      <table border="1" cellspacing="0" cellpadding="0" class="tabs">
        <tr>
          <th>序号</th>
          <th>备份时间</th>
          <th>操作</th>
          <th>状态</th>
        </tr>
        <tr v-for="(item , index ) in backup_list">
          <td>{{index+1}}</td>
          <td>{{item.date}}</td>
          <td><button @click="download(item.year , item.mounth)">下载</button>
          <td><button :class="{ status: statusCode === 0 }">{{status}}</button>
        </tr>
      </table>
    </template>

  </div>
</body>

</html>
<script>
  var app = new Vue({
    el: '#app',
    data: {
      type: 1, //模板id
      list: [], //全部年份的数据
      year_list: [], //全部年份
      backup_list: [], //某年份的所有备份数据
      status: "",
      isClick: 0,
      errorText: "", //错误内容
      isAlert: false,
      alertTip: "",
      showDownload: false,
      startUrl: "",
      statusCode: 1
    },

    methods: {
      //获取所有年份的列表
      getYear () {
        let year_list = [];
        for (let i in this.list) {
          year_list.push(this.list[i][0]);
        }
        this.year_list = year_list;
      },

      //获取初始渲染数据
      getDefault () {
        let defaultYear = this.list[0];
        let defaultList = [];
        for (let i in defaultYear) {
          if (defaultYear[i].id > 0) {
            defaultList.push(defaultYear[i]);
          } else {
            this.isClick = defaultYear[i].year;
          }
        }
        this.backup_list = defaultList;
      },

      //获取该年份所有月份备份的数据
      getBackup (year) {
        this.isClick = year;
        this.closeAlert();
        this.statusCode = 1;
        localStorage.setItem("status", "未下载");
        this.status = localStorage.getItem("status");
        this.backup_list = [];
        for (let i = 0; i < this.list.length; i++) {
          let backup_list = this.list[i];
          for (let j = 0; j < backup_list.length; j++) {
            let year_name = backup_list[j].year;
            if (year === year_name) {
              if (backup_list[j].id > 0) {
                this.backup_list.push(backup_list[j]);
                break;  //找到该年份的数据就退出循环
              }
            }
          }
        }
      },

      //点击开始下载
      download (year, mounth) {
        //月份小于10的,前面补0
        mounth < 10 ? `0${mounth}` : mounth;
        //拼接下载地址
        let url = `//cdn.staticaly.com/gh/codeslive/leanote_backup@master/package/${year}/${mounth}/mongodb_backup.zip`;
        if (mounth != "" && mounth != undefined && year != "" && year != undefined) {
          //判断获取到的链接是否为空
          if (url != undefined && url != '') {
            this.showDownload = true;
            this.showAlert();
            this.errorText = `${year}-${mounth}-mongodb_backup.zip`;
            this.alertTip = "确定下载吗?";
            this.startUrl = url;

            localStorage.setItem("status", "成功");
            this.status = localStorage.getItem("status");
          } else {
            localStorage.setItem("status", "未下载");
            this.status = localStorage.getItem("status");
          }
        } else {
          let errorUrl;
          let errorTip;
          if (year != "" && year != undefined) {
            errorTip = "月份(参数缺失)";
            errorUrl = `//cdn.staticaly.com/gh/codeslive/leanote_backup@master/package/${year}/${errorTip}/mongodb_backup.zip`;
          } else {
            errorTip = "年份(参数缺失)";
            errorUrl = `//cdn.staticaly.com/gh/codeslive/leanote_backup@master/package/${errorTip}/${mounth}/mongodb_backup.zip`;
          }
          this.alertTip = "错误提示";
          this.errorText = errorUrl;
          this.showAlert();
          this.showDownload = false;
          localStorage.setItem("status", "获取地址失败");
          this.status = localStorage.getItem("status");
          this.statusCode = 0;
          return false;
        }

      },


      //确定下载
      startDownload () {
        this.showDownload = true;
        window.location.href = this.startUrl;
        this.closeAlert();
      },

      //显示弹窗
      showAlert () {
        this.isAlert = true;
      },
      //关闭弹窗
      closeAlert () {
        this.isAlert = false;
      },

    },
    created () {
      //获取数据
      this.list = downloadUrl;
      //获取年份
      this.getYear();
      //获取初始默认渲染数据
      this.getDefault();
      localStorage.setItem("status", "未下载");
      this.status = localStorage.getItem("status");
    },
  })
</script>